<?php echo $this->escape($this->searchBox($this->toolbarButtons), 'none'); ?>

<?php Fisma_Format_Section::startSection('First Install'); ?>
<p>Welcome to <?php echo $this->escape($this->systemName); ?>'s first install guide.</p>
<ol>
    <li>
        Define your Agency.
        <a href="/organization/view/id/1" target="_blank">[Go]</a>
    </li>
    <li>
        Add your sub-organizations.
        <a href="/organization/list" target="_blank">[Go]</a>
    </li>
    <li>
        Add your systems.
        <a href="/system/list" target="_blank">[Go]</a>
    </li>
    <li>
        Revise your Organization Hierarchy
        <a href="/organization/tree" target="_blank">[Go]</a>
    </li>
    <li>
        Add your users.
        <a href="/user/list" target="_blank">[Go]</a>
    </li>
</ol>
<form></form>
<?php Fisma_Format_Section::stopSection(); ?>
