<?php echo $this->escape($this->searchBox($this->toolbarButtons), 'none'); ?>
<?php Fisma_Format_Section::startSection("E-mail Configuration "); ?>
<div class="block">
<?php
    echo $this->escape($this->form, 'none');
?>
</div>
<?php Fisma_Format_Section::stopSection(); ?>
<script>$(function() {
    $('#email_config').submit(function(event) {
        if (!$('input[name=verified]').val())
        {
            Fisma.Util.showAlertDialog('You need to verify email configuration before submitting.');
            $button = $('#saveChanges');
            $button.html($button.attr("stored")).attr('disabled', false);
            event.preventDefault();
        }
    });
});</script>
